@use '../../variables.scss';

.transfers {
  box-sizing: border-box;
  word-wrap: normal;
  overflow-wrap: normal;
  min-width: 232px;
  max-height: 258px;
  background-color: variables.$white-col;
  border-radius: 5px;
  box-shadow: variables.$box-shadow;
  margin-right: 20px;
  margin-bottom: 20px;

  .title {
    color: variables.$gray-color;
    font-weight: variables.$font-weight;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding-right: 36px;
    padding-top: 20px;
    padding-left: 20px;
    white-space: nowrap;
  }

  .options {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: start;
    white-space: nowrap;

    :global(.ant-checkbox-wrapper) {
      display: flex;
      align-items: center;
      color: variables.$gray-color;
      padding-left: 20px;
      padding-bottom: 20px;
    }
    :global(.ant-checkbox-wrapper:first-child) {
      padding-top: 20px;
      padding-bottom: 0;
    }

    :global(.ant-checkbox-wrapper-checked) {
      background-color: variables.$back-col;
    }

    :global(.ant-checkbox + span) {
      padding-left: 8px;
    }

    :global(.ant-checkbox-group) {
      display: flex;
      flex-direction: column;
    }

    :global(.ant-checkbox-inner) {
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid variables.$mouse-col;
      background-color: variables.$white-col;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
    }

    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: variables.$white-col !important;
      border-color: variables.$cyan-col !important;
    }

    :global(.ant-checkbox-checked .ant-checkbox-inner::after) {
      content: '';
      position: absolute;
      border-color: variables.$cyan-col !important;
      display: table;
      width: 6px;
      height: 10px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    :global(.ant-checkbox-wrapper:hover .ant-checkbox-inner),
    :global(.ant-checkbox:hover .ant-checkbox-inner) {
      border-color: variables.$cyan-col;
    }
  }

  .checkboxGroup {
    display: flex;
    flex-direction: column;

    :global(.ant-checkbox-wrapper) {
      display: flex;
      align-items: center;
      color: variables.$gray-color;
    }

    :global(.ant-checkbox-wrapper:first-child) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    :global(.ant-checkbox) {
      top: 0;
      transform: translateY(0);
    }

    :global(.ant-checkbox + span) {
      padding: 0;
      padding-left: 8px;
    }

    :global(.ant-checkbox-group) {
      flex-direction: column;
      display: flex;
    }
  }
}
