$white-color: #f3f7fa;
$white-col: #ffffff;
$gray-color: #4a4a4a;
$violet-color: #646cffaa;
$blue-color: #61dafbaa;
$border-col: #dfe5ec;
$cyan-col: #2196f3;
$back-col: #f1fcff;
$box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
$title-col: #a0b0b9;
$font-weight: 600;
$mouse-col: #9abbce;
